In [123]:
import pandas as pd

In [129]:
data = pd.read_csv('train.csv')

In [130]:
data

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,76513,1,17,1,9254,1,1,121.0,1,19,...,0,6,8,5,10.600000,0,13.9,-0.3,0.79,Graduate
76514,76514,1,1,6,9254,1,1,125.0,1,1,...,0,6,9,6,13.875000,0,9.4,-0.8,-3.12,Graduate
76515,76515,5,17,1,9085,1,1,138.0,1,37,...,0,5,8,5,11.400000,1,9.4,-0.8,-3.12,Enrolled
76516,76516,1,1,3,9070,1,1,136.0,1,38,...,0,6,0,0,0.000000,0,7.6,2.6,0.32,Dropout
76517,76517,1,1,1,9773,1,1,133.1,1,19,...,0,6,6,6,13.666667,0,15.5,2.8,-4.06,Graduate

In [131]:
data.Course = data.Course.rank(method='dense', ascending=True).astype(int) - 1
data['Unemployment rate'] = data['Unemployment rate'] / 100
data['Inflation rate'] = data['Inflation rate'] / 100
data['Target'] = data['Target'].map({'Dropout': 0, 'Enrolled': 1, 'Graduate': 2})

In [132]:
y_train = data['Target']
X_train = data.drop(columns=['Target', 'id'])

In [133]:
# from catboost import CatBoostClassifier
# 
# cat_model = CatBoostClassifier(verbose=0)
# cat_model.fit(X_train, y_train)
# 
# cat_train_preds = cat_model.predict_proba(X_train)

In [134]:
# from tensorflow.keras.models import Sequential
# from tensorflow.keras.layers import Dense
# from tensorflow.keras.utils import to_categorical
# 
# y_train_categorical = to_categorical(y_train, num_classes=3)
# 
# nn_model = Sequential()
# nn_model.add(Dense(128, input_dim=X_train.shape[1], activation='relu'))
# nn_model.add(Dense(128, activation='relu'))
# nn_model.add(Dense(64, activation='relu'))
# nn_model.add(Dense(32, activation='softmax'))
# nn_model.add(Dense(3, activation='softmax')) 
# 
# 
# nn_model.compile(optimizer='adam', loss='categorical_crossentropy', metrics=['accuracy'])
# 
# from sklearn.preprocessing import StandardScaler
# scaler = StandardScaler()
# X_train_scaled = scaler.fit_transform(X_train)
# X_test_scaled = scaler.transform(X_test)
# 
# nn_model.fit(X_train_scaled, y_train_categorical, epochs=50, batch_size=10, verbose=1)
# 
# nn_train_preds = nn_model.predict(X_train_scaled)

In [135]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.regularizers import l2
from sklearn.preprocessing import StandardScaler
from tensorflow.keras.utils import to_categorical

# Preprocess the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
y_train_categorical = to_categorical(y_train, num_classes=3)

# Define the model
nn_model = Sequential()
nn_model.add(Dense(128, input_dim=X_train.shape[1], activation='relu', kernel_regularizer=l2(0.01)))
nn_model.add(Dropout(0.5))
nn_model.add(Dense(128, activation='relu', kernel_regularizer=l2(0.01)))
nn_model.add(Dropout(0.5))
nn_model.add(Dense(64, activation='relu', kernel_regularizer=l2(0.01)))
nn_model.add(Dropout(0.5))
nn_model.add(Dense(3, activation='softmax'))

# Compile the model
optimizer = Adam(learning_rate=0.001)
nn_model.compile(optimizer=optimizer, loss='categorical_crossentropy', metrics=['accuracy'])

# Define early stopping
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Train the model
nn_model.fit(X_train_scaled, y_train_categorical, epochs=50, batch_size=10, verbose=1, validation_split=0.2, callbacks=[early_stopping])

WARNING:absl:At this time, the v2.11+ optimizer `tf.keras.optimizers.Adam` runs slowly on M1/M2 Macs, please use the legacy Keras optimizer instead, located at `tf.keras.optimizers.legacy.Adam`.
WARNING:absl:There is a known slowdown when using v2.11+ Keras optimizers on M1/M2 Macs. Falling back to the legacy Keras optimizer, i.e., `tf.keras.optimizers.legacy.Adam`.

Epoch 1/50
6122/6122 [==============================] - 4s 594us/step - loss: 0.8148 - accuracy: 0.7908 - val_loss: 0.5843 - val_accuracy: 0.8072
Epoch 2/50
6122/6122 [==============================] - 3s 567us/step - loss: 0.6187 - accuracy: 0.8002 - val_loss: 0.5823 - val_accuracy: 0.8126
Epoch 3/50
6122/6122 [==============================] - 4s 595us/step - loss: 0.6148 - accuracy: 0.8012 - val_loss: 0.5769 - val_accuracy: 0.8087
Epoch 4/50
6122/6122 [==============================] - 4s 581us/step - loss: 0.6130 - accuracy: 0.7998 - val_loss: 0.5719 - val_accuracy: 0.8099
Epoch 5/50
6122/6122 [==============================] - 4s 586us/step - loss: 0.6100 - accuracy: 0.8014 - val_loss: 0.5787 - val_accuracy: 0.8025
Epoch 6/50
6122/6122 [==============================] - 4s 605us/step - loss: 0.6092 - accuracy: 0.8003 - val_loss: 0.5616 - val_accuracy: 0.8127
Epoch 7/50
6122/6122 [==============================] - 3s 568us/step - loss: 0.6094 - accuracy: 0.7999 - val_loss: 0.5612 - val_accuracy: 0.8125
Epoch 8/50
6122/6122 [==============================] - 4s 573us/step - loss: 0.6099 - accuracy: 0.7979 - val_loss: 0.5640 - val_accuracy: 0.8087
Epoch 9/50
6122/6122 [==============================] - 4s 605us/step - loss: 0.6082 - accuracy: 0.7991 - val_loss: 0.5777 - val_accuracy: 0.8036
Epoch 10/50
6122/6122 [==============================] - 4s 705us/step - loss: 0.6103 - accuracy: 0.7975 - val_loss: 0.5636 - val_accuracy: 0.8070
Epoch 11/50
6122/6122 [==============================] - 4s 636us/step - loss: 0.6091 - accuracy: 0.7990 - val_loss: 0.5577 - val_accuracy: 0.8110
Epoch 12/50
6122/6122 [==============================] - 4s 638us/step - loss: 0.6099 - accuracy: 0.7989 - val_loss: 0.5718 - val_accuracy: 0.8108
Epoch 13/50
6122/6122 [==============================] - 4s 605us/step - loss: 0.6078 - accuracy: 0.7993 - val_loss: 0.5655 - val_accuracy: 0.8117
Epoch 14/50
6122/6122 [==============================] - 4s 590us/step - loss: 0.6077 - accuracy: 0.7982 - val_loss: 0.5737 - val_accuracy: 0.8088
Epoch 15/50
6122/6122 [==============================] - 4s 615us/step - loss: 0.6071 - accuracy: 0.7998 - val_loss: 0.5557 - val_accuracy: 0.8099
Epoch 16/50
6122/6122 [==============================] - 4s 586us/step - loss: 0.6068 - accuracy: 0.7982 - val_loss: 0.5557 - val_accuracy: 0.8140
Epoch 17/50
6122/6122 [==============================] - 4s 592us/step - loss: 0.6066 - accuracy: 0.7984 - val_loss: 0.5589 - val_accuracy: 0.8093
Epoch 18/50
6122/6122 [==============================] - 4s 605us/step - loss: 0.6070 - accuracy: 0.7974 - val_loss: 0.5668 - val_accuracy: 0.8110
Epoch 19/50
6122/6122 [==============================] - 4s 638us/step - loss: 0.6076 - accuracy: 0.7986 - val_loss: 0.5560 - val_accuracy: 0.8136
Epoch 20/50
6122/6122 [==============================] - 4s 603us/step - loss: 0.6043 - accuracy: 0.7995 - val_loss: 0.5599 - val_accuracy: 0.8124
Epoch 21/50
6122/6122 [==============================] - 4s 597us/step - loss: 0.6064 - accuracy: 0.7989 - val_loss: 0.5811 - val_accuracy: 0.8076
Epoch 22/50
6122/6122 [==============================] - 4s 621us/step - loss: 0.6059 - accuracy: 0.7988 - val_loss: 0.5554 - val_accuracy: 0.8117
Epoch 23/50
6122/6122 [==============================] - 4s 593us/step - loss: 0.6063 - accuracy: 0.7977 - val_loss: 0.5626 - val_accuracy: 0.8084
Epoch 24/50
6122/6122 [==============================] - 4s 597us/step - loss: 0.6060 - accuracy: 0.7974 - val_loss: 0.5552 - val_accuracy: 0.8112
Epoch 25/50
6122/6122 [==============================] - 4s 593us/step - loss: 0.6064 - accuracy: 0.7988 - val_loss: 0.5575 - val_accuracy: 0.8144
Epoch 26/50
6122/6122 [==============================] - 4s 591us/step - loss: 0.6066 - accuracy: 0.7975 - val_loss: 0.5600 - val_accuracy: 0.8117
Epoch 27/50
6122/6122 [==============================] - 4s 592us/step - loss: 0.6088 - accuracy: 0.7960 - val_loss: 0.5593 - val_accuracy: 0.8094
Epoch 28/50
6122/6122 [==============================] - 4s 598us/step - loss: 0.6071 - accuracy: 0.7973 - val_loss: 0.5735 - val_accuracy: 0.8097
Epoch 29/50
6122/6122 [==============================] - 4s 591us/step - loss: 0.6078 - accuracy: 0.7982 - val_loss: 0.5631 - val_accuracy: 0.8067
Epoch 30/50
6122/6122 [==============================] - 4s 618us/step - loss: 0.6046 - accuracy: 0.7986 - val_loss: 0.5729 - val_accuracy: 0.8067
Epoch 31/50
6122/6122 [==============================] - 4s 593us/step - loss: 0.6072 - accuracy: 0.7977 - val_loss: 0.5573 - val_accuracy: 0.8127
Epoch 32/50
6122/6122 [==============================] - 4s 588us/step - loss: 0.6059 - accuracy: 0.7978 - val_loss: 0.5517 - val_accuracy: 0.8125
Epoch 33/50
6122/6122 [==============================] - 4s 598us/step - loss: 0.6067 - accuracy: 0.7966 - val_loss: 0.5533 - val_accuracy: 0.8130
Epoch 34/50
6122/6122 [==============================] - 4s 615us/step - loss: 0.6056 - accuracy: 0.7965 - val_loss: 0.5598 - val_accuracy: 0.8091
Epoch 35/50
6122/6122 [==============================] - 4s 639us/step - loss: 0.6070 - accuracy: 0.7969 - val_loss: 0.5645 - val_accuracy: 0.8075
Epoch 36/50
6122/6122 [==============================] - 4s 606us/step - loss: 0.6040 - accuracy: 0.7967 - val_loss: 0.5709 - val_accuracy: 0.8025
Epoch 37/50
6122/6122 [==============================] - 4s 595us/step - loss: 0.6061 - accuracy: 0.7967 - val_loss: 0.5554 - val_accuracy: 0.8116
Epoch 38/50
6122/6122 [==============================] - 4s 604us/step - loss: 0.6071 - accuracy: 0.7966 - val_loss: 0.5601 - val_accuracy: 0.8102
Epoch 39/50
6122/6122 [==============================] - 4s 595us/step - loss: 0.6068 - accuracy: 0.7945 - val_loss: 0.5531 - val_accuracy: 0.8142
Epoch 40/50
6122/6122 [==============================] - 4s 593us/step - loss: 0.6057 - accuracy: 0.7942 - val_loss: 0.5525 - val_accuracy: 0.8103
Epoch 41/50
6122/6122 [==============================] - 4s 591us/step - loss: 0.6079 - accuracy: 0.7957 - val_loss: 0.5557 - val_accuracy: 0.8107
Epoch 42/50
6122/6122 [==============================] - 4s 600us/step - loss: 0.6074 - accuracy: 0.7973 - val_loss: 0.5580 - val_accuracy: 0.8094

In [99]:
X_test = pd.read_csv('test.csv')

X_test.Course = X_test.Course.rank(method='dense', ascending=True).astype(int) - 1
X_test['Unemployment rate'] = X_test['Unemployment rate'] / 100
data['Inflation rate'] = X_test['Inflation rate'] / 100
X_test['Target'] = X_test['Target'].map({'Dropout': 0, 'Enrolled': 1, 'Graduate': 2})

ids = X_test['id']
X_test = X_test.drop(columns=['id'])

nn_train_preds = nn_model.predict(X_test_scaled)

predictions_df = pd.DataFrame({'id': ids, 'prediction': nn_train_preds})

1595/1595 [==============================] - 0s 251us/step

In [100]:
predictions_df

           id  prediction
0       76518           0
1       76519           2
2       76520           2
3       76521           2
4       76522           1
...       ...         ...
51007  127525           0
51008  127526           0
51009  127527           0
51010  127528           0
51011  127529           0

[51012 rows x 2 columns]

In [101]:
predictions_df = predictions_df.rename(columns={'prediction': 'Target'})

In [103]:
predictions_df['Target'] = predictions_df['Target'].map({0: 'Dropout', 1: 'Enrolled', 2:'Graduate'})

In [104]:
predictions_df.to_csv("academic_success_predictions.csv", index=False)